*{
  scroll-behavior: smooth;
}
.navbar {
  width: 100vw;
  height: 90px;
  color: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.rightnav {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  text-align: center;
}

.logo {
  width: 230px;
  height: 100px;
  margin-top: 10px;
  padding: 0px 20px;

}



.button1 {
  font-size: 16px;
  height: 40px;
  width: 70px;
  font-weight: 500;
  text-align: center;
  margin: 5px 10px 5px 5px;
  background-color: #30323a;
  border-radius: 4px;
  font-family: "lato", sans-serif;
  padding: 5px;
  border: 1px solid rgb(56, 58, 58);
  color: azure;
  text-align: center;
  transition: 0.3s;
}

.button2 {
  width: 90px;
  font-size: 18px;
  height: 40px;
  font-family: "lato", sans-serif;
  font-weight: 500;
  padding: 5px 10px;
  text-align: center;
  margin: 5px 10px 5px 5px;
  background-color: #F0B511;
  border-radius: 4px;
  transition: 0.5s;
  color: #030712;
  border: 2px solid black;
  pointer-events: painted;
}

.button2:hover {
  background-color: #c49001;

}

.button1:hover {
  background-color: #424344;
 
  color: azure;
}

/* home */
.headig {
  position: absolute;
  color: rgb(253, 253, 253);
  font-size: 70px;
  font-family: "Poppins", sans-serif;

}

.headig span {
  color: #F0B511;
  font-family: "Press Start 2P", system-ui;
  /* font-weight: 400; */
  font-size: 50px;
  font-style: normal;
}

.ptag {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 140px;
  line-height: 0px;
  position: absolute;
  /* color: azure; */
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
  background: -webkit-linear-gradient(rgb(255, 255, 255), #1c232b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linktap {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  position: relative;
  top: 40px;
  margin-bottom: 50px;
}


.side img {
  height: 320px;
  width: 220px;
}


.card-container {
  margin: 20px;
  cursor: pointer;
  height: 280px;
  width: 199px;
  perspective: 600;
  position: relative;

}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.card:hover {
  transform: rotateY(180deg);
}

.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  background-color: rgba(128, 128, 128, 0.183);
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}
.side .laimg {
  position: absolute;
  z-index: 22;
  width: 110px;
  height: 110px;
  top: 80px;
  right: 45px;
  /* filter: drop-shadow(0 0 15px #F0B511)drop-shadow(0 0 25px #F0B511)drop-shadow(0 0 35px #F0B511); */

}

.side .im1 {
  filter: drop-shadow(0 0 15px #F0B511)drop-shadow(0 0 25px #F0B511)drop-shadow(0 0 35px #F0B511);
}

.side .im2 {
  filter: drop-shadow(0 0 15px #045ca4dd)drop-shadow(0 0 25px #118cf0)drop-shadow(0 0 35px #118cf0);
}

.side .im3 {
  filter: drop-shadow(0 0 15px #9c9b98)drop-shadow(0 0 25px #f6f6f5)drop-shadow(0 0 35px #f4f4f3);
}

.side .im4 {
  filter: drop-shadow(0 0 15px #ae00ffe1)drop-shadow(0 0 25px #ae00ffb7)drop-shadow(0 0 35px #ae00ff);
}


.side .la {
  opacity: 0.3;
}

.mention {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.mention h1 {
  position: relative;
  top: 50px;
  background: -webkit-linear-gradient(rgb(255, 255, 255), #3d4146);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

.mention p {
  background: -webkit-linear-gradient(rgb(255, 255, 255), #101315);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
}

/* note */

.progress {
  position: relative;
  top: 90px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.note {
  width: 80%;
  height: 350px;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid gray;
  background-color: rgba(128, 128, 128, 0.1);
}

.note h3 {
  background: -webkit-linear-gradient(rgb(255, 255, 255), #101315);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
  font-family: "lato", sans-serif;
}

.note p {

  margin-bottom: -10px;
  background: -webkit-linear-gradient(rgb(255, 255, 255), #101315);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: x-large;
  font-family: "Poppins", sans-serif;
}

/* lshgkhskhv iosvh ihi */

.about {
  position: relative;
  top: 220px;
  width: 100vw;
  height: 100px;
  background: rgba(255, 255, 255, 0.084);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.about p{
  letter-spacing: 15px;
  font-size: 14px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(255, 255, 255), #101315);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'lato', sans-serif
}

.about .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info h4 {
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(255, 255, 255), #101315);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'lato', sans-serif
}

.info a {
  font-size: small;
  text-transform: uppercase;
}

.infoid {
  letter-spacing: 4px;
  margin-top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(rgb(255, 255, 255), #262c30);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10px;
  font-family: 'lato', sans-serif;
}


/* animations */


.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 65% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 166, 0, 0); }
}

